.main-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: transparent;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  height: 90px;
}

.logo-img {
  height: 190px;
  width: 320px;
}

.nav-links ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 1rem;
}

.nav-links a {
  text-decoration: none;
  color: #f5f5f5;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s ease;
  position: relative;
  padding: 0.5rem 0;
}

.nav-links a:hover {
  color: #7bb79f;
}

.nav-links a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #2fa06d;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

.login-btn {
  padding: 0.6rem 1.5rem;
  background-color: #216c3c;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #1f5f3e;
}

.mobile-menu-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #ffffff;
}

/* Responsive styles */
@media (max-width: 992px) {
  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    max-width: 300px;
    height: 100vh;
    background-color: #767272;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    z-index: 1000;
    padding-top: 80px;
    
  }

  .nav-links.active {
    right: 0;
  }

  .nav-links ul {
    flex-direction: column;
    padding: 0 2rem;
  }

  .nav-links li {
    margin: 1rem 0;
  }

  .nav-links ul li a{
    color: rgb(246, 244, 244);
  }

  .mobile-menu-toggle {
    display: block;
    z-index: 1001;
  }

  .auth-buttons {
    margin-left: auto;
    margin-right: 1rem;
  }
}

@media (max-width: 576px) {
  .main-navbar {
    padding: 1rem;
  }
  
  .logo-img {
    height: 140px;
    max-width: 260px;
    margin-left: -60px;
    margin-top: 20px;
  }
}